/* You can add global styles to this file, and also import other style files */
input.ng-touched.ng-invalid {
    border-color: #DC3545;
}

input.ng-valid {
    border-color: #28A745;
}

.green-icon {
    color: #28A745;
}

.red-icon {
    color: #DC3545
}

#toast-container > div {
    opacity: 1;
}